@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "Merriweather", serif;
  height: 100vh;
  margin: 0;
  background: linear-gradient(180deg, rgba(0, 13, 255, 1) 0%, rgba(252, 252, 252, 1) 80%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-bottom: 30px;
}
.seinfeld {
  height: 100px;
  width: 200px;
}

.title {
  font-size: 2rem;
}

.section {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.section-newman {
  margin-bottom: 100px;
}

.newman,
.jerry {
  width: 125px;
  height: 125px;
  display: inline-block;
  object-position: center;
  border-radius: 50%;
  border: rgb(255, 0, 0) 7px solid;
}

.jerry {
  border: rgb(251, 219, 27) 7px solid;
}

.dealer,
.player {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
  border: rgb(255, 0, 0) solid 7px;
  height: 180px;
  max-width: 300px;
  width: 90%;
  margin: 8px 32px 8px 20px;
  gap: 50px;
}

.player {
  border: rgb(251, 219, 27) solid 7px;
  margin-bottom: 16px;
}

.cards {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 10px;
  margin-left: 16px;
}

.name {
  margin: 0 auto;
}
.dcards,
.pcards {
  font-size: 1.3rem;
  color: black;
  margin: 8px auto;
}

.score {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-right: 16px;
}

.score-label {
  margin: 0 auto;
}
.score-number {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 8px auto;
  color: rgb(0, 13, 255);
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btn {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  border: black 5px solid;
  padding: 8px;
  text-decoration: none;
  background-color: transparent;
  color: rgb(255, 0, 0);
  margin-right: 20px;
}

.btn--hit,
.btn--stay {
  color: rgb(0, 13, 255);
}

.btn--new {
  color: rgb(251, 219, 27);
  margin-right: 0px;
}

.modal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  width: 250px;
  height: 125px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
  border: rgb(0, 0, 0) 7px solid;
}

.result-text {
  display: block;
  text-align: center;
  font-size: 1.7rem;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  .seinfeld {
    width: 150px;
    height: 75px;
  }
  .title {
    font-size: 1.2rem;
    margin-left: 8px;
  }

  .newman,
  .jerry {
    width: 60px;
    height: 60px;
    border: rgb(255, 0, 0) 4px solid;
  }

  .jerry {
    border: rgb(251, 219, 27) 4px solid;
  }

  .dealer,
  .player {
    display: flex;
    flex-flow: row;
    height: 150px;
    width: 200px;
    margin: 8px 16px 8px 10px;
    border: rgb(255, 0, 0) solid 4px;
  }

  .player {
    border: rgb(251, 219, 27) solid 4px;
    margin-bottom: 16px;
  }

  .cards,
  .score {
    margin: 0 auto;
  }

  .cards {
    margin-left: 10px;
  }

  .score {
    margin-right: 10px;
  }

  .name,
  .score-label {
    font-size: 1.1rem;
    margin: 8px auto;
  }

  .dcards,
  .pcards {
    margin: 0 auto;
    font-size: 1.1rem;
  }

  .score-number {
    font-size: 1.7rem;
    margin: 0;
  }

  .buttons {
    justify-content: center;
  }

  .btn {
    font-size: 1.1rem;
    border: black 4px solid;
  }

  .modal-content {
    padding: 5px;
    width: 250px;
    height: 125px;
    margin-top: 5px;
    border: rgb(0, 0, 0) 4px solid;
  }

  .result-text {
    font-size: 1.5rem;
  }

  .btn--new {
    margin-bottom: 10px;
  }
}
